*{
    background-color: rgb(106, 24, 111);
}

.descripcion {
    text-align: center;
}

.descripcion h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 152, 226);
}

.descripcion img{
    width: 20%;
}

.descripcion p{
    width: 60%;
    margin: auto;
    font-size: 1.8em;
    font-family: 'Times New Roman';
}

.boton {
    text-align: center;
    background-color: rgb(43, 89, 122);
    
}

.boton a{
    background-color: rgb(192, 30, 114);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px 20px;
}
